.form {
    background-color: white;
    display: flex;
    justify-content: center;
    border: 1px hsl(0, 0%, 90%) solid;
    padding: 10px;
}

.form__legend {
    background-color: white;
    padding: 15px;
    margin-bottom: 0px;
    border: 1px hsl(0, 0%, 90%) solid;
}

@media (max-width: 767px) {
    .form {
        flex-wrap: wrap;
    }
}

.form__newTask {
    margin: 10px;
    border: 1px hsl(0, 0%, 90%) solid;
    padding: 10px;
    flex-grow: 1;
}