.taskList {
    background-color: white;
    border: 1px hsl(0, 0%, 90%) solid;
    margin-top: 1px;
    list-style-type: none;
    padding: 30px 10px 30px 20px;
    /*  flex-basis: 100%; */
    width: 100%;
}

.taskList__item {
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(189, 186, 186);
    margin-bottom: 20px;
}

.taskList__item--hidden {
    display: none;
}

.taskList__itemText {
    flex-grow: 1;
    padding: 10px;
    word-break: break-word;
}

.taskList__itemText--done {
    text-decoration: line-through;
}